* {
  box-sizing: border-box;
}

body {
  background-color: #729fcf;
  background-image: radial-gradient(#b0c4dd 1px, transparent 2px),
    radial-gradient(#b0c4dd 1px, transparent 2px);
  background-repeat: repeat;
  background-size: 80px 80px;
  background-position: 0 0, 40px 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
}

.File-list {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  padding: 8px;
}

.File-list > * {
  width: 100%;
}

.Send-btn {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.Selection-field {
  min-width: 50%;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.App-header {
  position: fixed;
  width: 100%;
  border-radius: 0 0 32% 32%;
  border-bottom: 4px solid #3567a4;
}

.Choose-file {
  width: fit-content;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (hover: none) {
}
