* {
  box-sizing: border-box;
}

.layout {
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  margin: 60px;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;

}

.File-list {
  height: 600px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}

.Item-field {
  margin: 5px;
}
 .Send-btn {
   margin: 20px;
   padding: 5px;
   margin: 20px;
   border-radius: 5px;
   cursor: pointer;
 }

 .Selection-field{
   text-align: center;
   padding: 5px;
   border-radius: 3px;
   cursor: pointer;
 }

.App-header {
  width: 100%;
  background-color: lightgray;
  height: 80px;
  font-size: 15px;
  color: white;
}

p{
  color: black;
  font-weight: bold;
}
.Choose-file{
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}