* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #729fcf;
  background-image: radial-gradient(#b0c4dd 1px, transparent 2px),
    radial-gradient(#b0c4dd 1px, transparent 2px);
  background-repeat: repeat;
  background-size: 80px 80px;
  background-position: 0 0, 40px 20px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.App-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #e6f1ff;
  border-radius: 0 0 32% 32%;
  border-bottom: 4px solid #3567a4;
  z-index: 4;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
}

.File-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  border: 2px solid #3567a4;
  background-color: rgba(255, 255, 255, 0.48);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 16px 8px;
}

.File-list > * {
  width: 100%;
}

.Send-btn {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.Selection-field {
  min-width: 50%;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.Choose-file {
  width: min-content;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
}

@media screen and (hover: none) {
#root {
  flex-direction: column-reverse;
}

.App-header {
  top: initial;
  bottom: 0;
  border-radius: 20% 20% 0 0;
  border-top: 2px solid #3567a4;
  border-bottom: none;
}

}
